:root {
}
.header-menu-list .nav-parent .nav-link {
  position: relative;
}
.header-menu-list .nav-parent:hover .nav-link::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  bottom: -10px;
  background: #a09364;
  left: 0;
  transition: all linear 0.3s;
}
.nav-parent .child-nav {
  opacity: 0;
  visibility: hidden;
}
.nav-parent:hover .child-nav {
  opacity: 1;
  visibility: visible;
  transition: all linear 0.5s;
}
.feature_title {
  transition: all 0.2s ease-in-out;
}

.clip-string {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
